@import "tailwindcss";

:root {
  --background: #040816;
  --foreground: #ffffff;
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

body {
  background:
    radial-gradient(circle at top left, rgba(0,255,255,.12), transparent 35%),
    radial-gradient(circle at top right, rgba(0,120,255,.15), transparent 40%),
    radial-gradient(circle at bottom, rgba(128,0,255,.12), transparent 45%),
    #040816;

  min-height: 100vh;
}